.module__content {
    margin: 1rem 0 1rem 1rem;
}

.items__grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    display: inline;
}

.item__image {
    position: relative;
    /* background-color: aquamarine; */
}

.item__image__loupe {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item__image__loupe img {
    width: 1rem;

}