/* Product filtering */

.filter__list {
    list-style-type: none;
    margin-top: 0.5rem;
}

.filter__item {
    cursor: pointer;
    margin: 0 1rem 0 0;
    display: inline;
}

.filter__item:hover {
    text-decoration: underline;
}

.filter__active {
    text-decoration: underline;
}