/* Product grid in open module */

.module__content {
    margin: 1rem 0 1rem 1rem;
}

.items__grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
}

.item__image {
    position: relative;
    margin-bottom: 0.4rem;
}

.item:hover {
    outline: 1px solid var(--color-hover-item);
    outline-offset: 0.3rem;
}

.item__image__loupe {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 1.4rem;
}

.item__image__loupe:hover {
    background-color: var(--color-hover-loupe);
    border-radius: 20%;
}

.item__title {
    font-size: var(--grid-item-name-size);
}

.item__selected {
    background-color: brown;
}

.item__name {
    font-weight: var(--font-normal);
}