.module__content {
    margin: 1rem 0 1rem 1rem;
}

.items__grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    display: inline;
}